.restaurant-grid
	-@restaurants.each_with_index do |r, i|
		- if i % 4 == 0
			<div class="row-fluid">
		.restaurant-tile.span3
			%a{:href=>restaurant_path(r)}
				= image_tag(@list[r.name])
				.restaurant-title-container 
					%h1.restaurant-title= r.name
					-if Rating.find_by_id(r.id).nil?
						%p.rating No ratings yet!
					-else
						%p.rating #{r.average_rating} / 5.0
		- if i % 4 == 3