.messages-container
	= render 'layouts/messages'
.restaurant-grid
	- count = 0
	-@restaurants.each_with_index do |r|
		- next if not r.approved?
		- if count % 4 == 0
			<div class="row-fluid">
		.restaurant-tile.span3
			%a{:href=>restaurant_path(r)}
				= image_tag(@list[r.name])
				-if user_signed_in? and current_user.admin?
					.dismiss-btn-container
						=button_to "x", {action: "disapprove_restaurant", form: {"id" => r.id}}, {:class => 'btn'}
				.restaurant-title-container 
					%h1.restaurant-title= r.name
					-if r.ratings.blank?
						%p.rating No ratings yet!
					-else
						%p.rating #{r.average_rating} / 5.0
		- if count % 4 == 3
			</div>
		- count = count + 1