.container 
	.row-fluid
		.span8.offset2
			%h1 New restaurant
			-if user_signed_in? 
				= render 'form'
				= link_to 'Back', restaurants_path
			-else
				:javascript
					window.location.href="/restaurants"