/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
.brand {
  float: left;
  padding-right: 8px;
}
ul.nav {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
ul.nav li {
  display: inline;
}
.logo.desktop {
  display: none;
}

.header-container {
  background: #fff;
  margin: 0 -20px;
  padding: 0 20px;
}

.header {
  max-width: 1073px;
  margin: 0 auto;
}

.mock-bar {
  height: 20px;
  margin: -18px -20px 0;
  padding: 0 20px;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5a2819), to(#6c2a00));
  background-image: -webkit-linear-gradient(#5a2819, #6c2a00);
  background-image: -moz-linear-gradient(#5a2819, #6c2a00);
  background-image: -o-linear-gradient(#5a2819, #6c2a00);
  background-image: linear-gradient(#5a2819, #6c2a00);
  width: 100%;
  border-top: 1px solid rgba(0,0,0,.9);
  border-bottom: 1px solid rgba(0,0,0,.9);

  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.9);
  -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.9);
  box-shadow: inset 0 0 1px rgba(0,0,0,.9);
}

.site-title {
  color: #222;
  margin: 20px 0 0;
}

.tagline {
  font-family: 'Helevetica', Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #222;
}

.search-nav-container {
  overflow: auto;
  width: 100%;
}

.search {
  form {
    margin-bottom: 0
  }
}

.header-nav {
  padding: 20px 0 0;

  a {
    color: #222;
    display: block;

    padding: 5px 0;

    -webkit-transition: color .15s;
    -moz-transition: color .15s;
    -ms-transition: color .15s;
    -o-transition: color .15s;
    transition: color .15s;

    &:first-child {
      border-left: none;
      padding-left: 0;
    }

    &:hover {
      color: currentcolor;
      text-decoration: none;

      color: #666;
    }
  }
}

#adminModal {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Droid Sans', 'Helvetica', 'Aria', sans-serif !important;
}

@media (min-width: 768px) { 
  .header-container, .mock-bar {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .header {
    text-align:center;
  }

  .header-nav {
    padding-top: 23px;
    text-align: right;

    a {
      display: inline;
      border-left: 1px solid #b8bb97;
      padding: 2px 3px 2px 5px;
    }
  }

  .modal {
    text-align: left;
  }

  .title-container {
    float: left;
    text-align:left;
    margin-top: 25px;
  }

  .site-title {
    margin: 0;
  }

  .search-nav-container {
    width: auto;
    float: right;
    margin-top: 3px;
    text-align: right;
    
    .search {
      float: right;
    }
  }
  
  .tagline {
    margin: 0;
  }

  .logo.mobile {
    display: none;
  }

  .logo.desktop {
    display: inline;
    float: left;
    margin-right: 15px;
  }
}

@media (min-width: 960px) {

  .site-title {
    float: left;
  }

  .tagline {
    float: left;
    margin-top: 18px;
  }

  .title-container {
    margin-top: 50px;
  }
}